@mixin position($w,$h){
  background-position: $w $h;
}
@mixin wh($w,$h){ //设置宽高
  width: $w;
  height: $h;
}
@mixin lt($w,$h){ //设置上左
  left: $w;
  top: $h;
}
@mixin  marinTL($w,$h){ //设置margin上左
  margin-top:$w;
  margin-left:$h;
}
@mixin  marinTB($w,$h){ //设置margin上左
  margin-top:$w;
  margin-bottom:$h;
}
$red : 1px solid red;//border
$white : 1px solid white;//border
$blue : 1px solid blue;//border
@mixin mp{
  margin: 0;
  padding: 0;
}
body{
  background: url("../images/main.jpg");
  margin: 0;
}
.top{
  margin: 0 auto;
  @include wh(951px,198px);
  outline: $red;
}
.lunbo{
  overflow: hidden;
  box-shadow: 0 0 1px 1px #EBEBEC;
  margin: 24px auto;
  border: 3px solid #EBEBEC;
  @include wh(940px,393px);
  background: url("../images/slider-2.jpg") no-repeat;
  border-radius: 10px;
}
.anniu{
  background-color: rgba(255,255,255,0.7);
  margin-top: 340px;
  @include wh(100%,55px);
  .anniuImage{
//    background-color: blue;
    display: inline-block;
    line-height: 55px;
    margin-left: 30px;
    width: 85px;
    padding: 0;
    overflow: hidden;
//    outline: $red;
    list-style: none;
    li{
      margin-right: 6px;
//      outline: $red;
      float: left;
      .anniu1,.anniu2{
        @include  wh(21px,21px);
        background: url("../images/pagination.png");
      }
      .anniu1{
        background-position: 0 0;
      }
      .anniu2{
        background-position: -25px 0;
      }
    }
  }
}
.text{
//  outline: $blue;
  width: 890px;
  margin: 0 auto;
}
.weText{
  font-family: Arial;
  margin: 0;
//  outline: $red;
  height: 65px;
  line-height: 65px;
  font-size: 30px;
}
.globalText{
  font-family: Arial;
//  outline: $red;
  font-size: 15px;
  line-height: 25px;
}
.xian{
  box-shadow: 0 0 1px 1px white;
  margin:33px auto;
  @include wh(940px,0);
  border: 1px solid #E1E1E1;
}
.duis{
  overflow: hidden;
  margin: 0 auto;
//  outline: $blue;
  width: 916px;
  list-style: none;
  li{
//    outline: $red;
    width: 305px;
    float: left;
    .weWorkImage{
      @include marinTB(14px,10px);
      border-radius: 10px;
      border: 4px solid #EBEBEC;
    }
    .duisAutem{
      display: inline-block;
      width: 280px;
      font-family: Arial;
      font-size: 14px;
      line-height: 26px;
    }
  }
}
.weWork{
  line-height: 30px;
  font-family: Arial;
  font-size: 20px;
}
.moreButton{
  margin-bottom: 40px;
  margin-top: 18px;
  color: white;
  @include wh(75px,32px);
  background-color: #55B7C8;
  border: 1px solid #55B7C8;
  border-radius: 3px;
}
.diBu{
//  outline: $blue;
  width: 100%;
  background-color: #F9F9FB;
  .advance{
    overflow: hidden;
//    outline: $blue;
    margin: 0 auto;
    width: 916px;
    list-style: none;
    li{
      width: 457px;
//      outline: $red;
      float: left;
      .advanceP{
        margin-top: 35px;
        margin-bottom: 18px;
      }
      .lorem{
        display: inline-block;
        width: 430px;
        font-family: Arial;
        font-size: 14px;
        line-height: 26px;
      }
    }
  }
}
.buttonB{
  margin-bottom: 60px;
}
.buttonBlack{
  @include wh(100%,153px);
  background-color: black;
}